.header__buttons {
  display: flex;
  justify-content: flex-start;
  @media (max-width: 450px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .button_bg {
    background-image: url(./../img/refresh.svg);
    margin-right: 5px;
    width: 43px;
    @media (max-width: 760px) {
      margin-right: 15px;
    }
    @media (max-width: 450px) {
      margin-bottom: 10px;
    }
  }
  .language-button_en {
    border-radius: 5px 0 0 5px;
  }
  .language-button_ru {
    border-radius: 0;
  }
  .language-button_be {
    border-radius: 0 5px 5px 0;
  }
  .temperature-button_fahrenheit {
    border-radius: 5px 0 0 5px;
  }
  .temperature-button_celsius {
    border-radius: 0 5px 5px 0;
  }
}

.button {
  transition: 0.5s linear;
  cursor: pointer;
  height: 4.4rem;
  border: 0;
  color: #fff;
  font-size: 2rem;
  outline: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(76, 82, 85, 0.7);
  &:hover {
    background-color: #b4b8bb;
    color: #fff;
  }
  &.active {
    background: rgba(180, 184, 187, 0.7);
    cursor: auto;
  }
  @media (max-width: 760px) {
    font-size: 3rem;
  }
}

.buttons-language {
  display: flex;
  margin-right: 5px;
  @media (max-width: 760px) {
    margin-right: 15px;
  }
  @media (max-width: 450px) {
    margin-bottom: 10px;
  }
}

.language-button.active {
  background: rgba(180, 184, 187, 0.7);
  cursor: auto;
}

.buttons-temperature-container {
  display: flex;
}
