body {
  margin: 0;
  background-repeat: no-repeat;
  background-position: center 180px;
  overflow-x: hidden;
  font-family: Roboto, Verdana, sans-serif;
  /* background-image: url(../img/or.jpg); */
  background-repeat: repeat;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  max-width: 1350px;
  margin: 40px auto 0;
}

/*NAVIGATION*/

.navigation {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  width: 380px;
  height: 100%;
  margin: -100px 0 0;
  padding: 125px 50px 50px;
  left: 0;
  list-style-type: none;
  transition: transform .5s cubic-bezier(.77, .2, .05, 1);
  transform-origin: 0 0;
  transform: translate(-100%);
  z-index: 2;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
}

.menu.green {
  background: linear-gradient(40deg, #00bf82, #0099ae);
}

.menu-item {
  padding: 10px 0;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto;
  padding: 10px;
  margin: 0 0 0 60px;
  color: #fff;
  min-width: 145px;
  text-align: left;
}

.menu-item:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.menu-item.active {
  text-decoration: underline;
}

.burger-menu {
  position: relative;
  width: 33px;
  height: 23px;
  z-index: 5;
}

.burger-menu:hover {
  cursor: pointer;
}

.burger-menu::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #565353;
  border-radius: 5px;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

.burger-menu.active-burger::before {
  transform: rotate(45deg);
  top: 8px;
}

.burger-menu.active-burger::after {
  transform: rotate(-45deg);
  top: 8px;
}

.burger-menu::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: #565353;
  border-radius: 5px;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

.hamburger {
  display: inline-block;
  position: absolute;
  background: #565353;
  border-radius: 5px;
  height: 4px;
  width: 100%;
  top: calc(50% - 1.5px);
  transition: all 0.3s ease 0s;
}

.hamburger.active-burger {
  transform: scale(0);
}

/*END NAVIGATION*/

/*SWITCHER*/

.switcher-container {
  position: relative;
}

.switch, .switch-input {
  position: absolute;
  top: 0;
}

.switch {
  right: 0;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 40px;
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 -1px #fff, inset 0 1px 1px rgba(0, 0, 0, .05);
  cursor: pointer;
  background-image: linear-gradient(180deg, #eee, #fff 25px);
}

.switch-input {
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12), inset 0 0 2px rgba(0, 0, 0, .15);
  transition: .15s ease-out;
}

.switch-input:checked~.switch-label {
  background: linear-gradient(40deg, #00bf82, #0099ae);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15), inset 0 0 3px rgba(0, 0, 0, .2);
}

.switch-label:before {
  content: attr(data-off);
  right: 15px;
  color: #fff;
  text-shadow: 0 1px hsla(0, 0%, 100%, .5);
}

.switch-label:after {
  content: attr(data-on);
  left: 15px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .2);
  opacity: 0;
}

.switch-input:checked~.switch-label:before {
  opacity: 0;
}

.switch-input:checked~.switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 33px;
  height: 33px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  background-image: linear-gradient(180deg, #fff 40%, #f0f0f0);
  transition: left .15s ease-out;
}

.switch-input:checked~.switch-handle {
  left: 85px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, .2);
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, .02);
  background-image: linear-gradient(180deg, #eee, #fff);
}

.switch-label:after, .switch-label:before {
  position: absolute;
  top: 0;
  transition: inherit;
}

/*END SWITCH*/

.main-container {
  padding-top: 55px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 15px;
  max-width: 1440px;
  margin: auto;
}

.main-card {
  width: 300px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  color: #212529;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(180deg, #fd6a63, #feb46b 40%, #fff 0, #fff);
  margin: 20px 25px;
  cursor: pointer;
  transition: .3s;
}

.main-card.active {
  text-decoration: underline;
}

.main-card.green {
  background: linear-gradient(180deg, #0099ae, #00bf82 40%, #fff 0, #fff);
}

.main-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}

.main-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  margin: 30px auto;
}

.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 40px;
  overflow-x: hidden;
  line-height: 36px;
  font-size: 36px;
  color: #fc6262;
}

.card-container {
  perspective: 500px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 25px;
  box-shadow: 0 1px 3px 0 #ccc;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
  transition: box-shadow .25s linear, transform .7s;
}

.card:hover {
  box-shadow: -1px 5px 15px 0 rgba(0, 0, 0, .5);
}

.card.translate {
  transform: rotateY(180deg);
}

.back, .front {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.card-header {
  margin-top: 200px;
  padding: 0 15px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  background: #fff;
  color: #212529;
}

.back .card-header {
  background: #fff;
  color: #000;
}

.inactive {
  opacity: .5;
}

.rotate {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(/img/rotate.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center 16px;
  bottom: 5px;
  right: 5px;
  transition: .3s;
  filter: grayscale(1);
  backface-visibility: hidden;
}

.rotate:hover {
  filter: none;
}

.card-cover .front{
  background-size: cover;
  background-position: 50%;
}

.button-container {
  width: 100%;
  text-align: center;
}

.button-start {
  box-sizing: border-box;
  padding: 20px 25px;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  color: #fff;
  border-radius: 10px;
  outline: 0!important;
  border-width: 1px;
  transition: .3s;
}

.repeat {
  width: 65px;
  font-size: 0;
  background-image: url(/img/repeat.svg), linear-gradient(40deg, #ffd86f, #fc6262);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 32px 32px, cover;
  background-position: 50%;
}

.none {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.star-correct, .star-error {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.star-correct {
  background-image: url(../img/star-win.svg);
}

.star-error {
  background-image: url(../img/star.svg);
}

.success-block, .failure-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}

.statistics {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 20px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 0 auto;
  border: #ccc 1px solid;
  border-collapse: separate;
  border-radius: 3px;
  box-shadow: 0 1px 2px #d1d1d1;
}

.statistics th {
  font-weight: bold;
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}

.statistics th:first-child {
  text-align: left;
  padding-left: 20px;
}

.statistics tr:first-child th:first-child {
  border-top-left-radius: 3px;
}

.statistics tr:first-child th:last-child {
  border-top-right-radius: 3px;
}

.statistics tr {
  text-align: center;
  padding-left: 20px;
}

.statistics tr td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

.statistics tr td {
  padding: 18px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
}

.statistics tr:nth-child(even) td {
  background: #f6f6f6;
}

.statistics tr:last-child td {
  border-bottom: 0;
}

.statistics tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

.statistics tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

.statistics tr:hover td {
  background: #f2f2f2;
}

.statistics caption {
  font-size: 40px;
}

img.sort:hover {
  cursor: pointer;
  background-color: #66666659;
}

.reset {
  box-sizing: border-box;
  padding: 0px 10px;
  font-size: 24px;
  margin: 0px auto;
  width: 100%;
  height: 44px;
  background: linear-gradient(40deg, #7366bd, #fc6262);
  color: #fff;
  border-radius: 10px;
  outline: 0!important;
  border-width: 1px;
  transition: .3s;
}

.repeat-words {
  box-sizing: border-box;
  padding: 0px 10px;
  font-size: 24px;
  margin: 0px auto;
  width: 100%;
  height: 44px;
  background: linear-gradient(40deg, #6671bd, #62fcfc);
  color: #fff;
  border-radius: 10px;
  outline: 0!important;
  border-width: 1px;
  transition: .3s;
}

@media (max-width: 1430px) {
  .header-container {
    max-width: 1000px;
  }
}

@media (max-width: 1080px) {
  .header-container {
    max-width: 650px;
  }
}

@media (max-width: 730px) {
  .header-container {
    max-width: 300px;
  }
}
