.ymaps-2-1-76-inner-panes::after {
    content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 728px;
   height: 579px;
   background: url(../../img/Rectangle.png) 0 0 no-repeat;
   z-index: 1000;
}
